{% extends 'authentication/base.html' %}


{% block content %}

<style>
    #section_email_mdp p {
        font-size: large;
        padding: 2px 0;
    }
    
    #recovery_title_1 {
        font-size: x-large;
        color: #cc893b;
        font-family: "Open Sans", sans-serif;
        text-shadow: 2px 0 black;
    }

    #section_email_mdp label,
    #recovery_sentence_1 {
        color: #C45525;
        font-family: "Open Sans", sans-serif;
        text-shadow: 2px 0 black;
    }

    #section_email_mdp {
        border: 2px solid black;
        border-radius: 5%;
        padding: 20px;
        background-color: rgb(250, 235, 215, 0.2);
    }

    .errorlist,
    #wrong_email {
        color: #cc893b;
        list-style-type: none;
        font-family: "Scope One", sans-serif;
        text-shadow: 2px 0 black;
        font-size: medium;
    }

    #id_email {
        margin-left: 15px;
        font-family: "Scope One", sans-serif;
        font-weight: bold;
        font-size: small;
        color: #345A61;
    }

    #send_button {
        font-family: "Scope One", sans-serif;
        font-weight: bold;
        font-size: small;
        letter-spacing: 1px;
        color: white;
        margin-top: 10px;
        border: 1px solid black;
    }

    input[value="Changer mon mot de passe"] {
        padding-top: 6px;
    }

    ul:not(.errorlist) {
        color: #E8A75D;
        list-style-type: none;
        font-family: "Scope One", sans-serif;
        text-shadow: 2px 0 black;
        font-size: medium;
    }

    ul.errorlist {
        color: #c0894a;
        list-style-type: none;
        font-family: "Scope One", sans-serif;
        text-shadow: 2px 0 black;
        font-size: medium;
    }

    #recovery_sentence_2 {
        color: #cc893b;
        font-family: "Scope One", sans-serif;
        text-shadow: 2px 0 black;
        margin-top: 5px;
    }
    
</style>

{% if validlink %}
<div class="row">
    <div class="col-12">
        <div class="card mt-4 border-dark shadow-lg rounded">
            <img class="card-top-home" src="/static/images/fond_forgot_password.jpg" alt="Fond page oublie MDP"
                height="900">
            <div class="card-img-overlay d-inline-flex align-items-center justify-content-center">
                <form class="d-flex align-items-center flex-column" action="" method="post" novalidate
                    id="section_email_mdp">
                    <h1 id="recovery_title_1">Réinitialisez votre mot de passe.</h1>
                    <p id="recovery_sentence_1">S'il vous plait entrez votre nouveau mot de passe deux fois:</p>
                    {{ form.as_p }}
                    <div class="col-12 d-flex justify-content-center">
                        <input class="btn btn-primary btn-ms" type="submit" value="Changer mon mot de passe" id="send_button">
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12">
        <div class="card mt-4 border-dark shadow-lg rounded">
            <img class="card-top-home" src="/static/images/fond_forgot_password.jpg" alt="Fond page oublie MDP"
                height="900">
            <div class="card-img-overlay d-inline-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center flex-column" id="section_email_mdp">
                    <p id="recovery_sentence_2">Le lien de réinitialisation du mot de passe est invalide, possiblement parce qu'il a déjà été utilisé. 
                        S'il vous plait, demandez un nouveau lien.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}