{% extends 'authentication/base.html' %}

{% block content %}

<style>
    #section_email_mdp p {
        font-size: large;
        padding: 2px 0;
    }

    #recovery_title_1 {
        font-size: x-large;
        color: #cc893b;
        font-family: "Open Sans", sans-serif;
        text-shadow: 2px 0 black;
    }

    #recovery_sentence_1 {
        color: #C45525;
        font-family: "Open Sans", sans-serif;
        text-shadow: 2px 0 black;
    }

    #recovery_sentence_2 {
        color: #cc893b;
        font-family: "Scope One", sans-serif;
        text-shadow: 2px 0 black;
    }

    #section_email_mdp {
        border: 2px solid black;
        border-radius: 5%;
        padding: 20px;
        background-color: rgb(250, 235, 215, 0.2);
    }

    
    
</style>

<div class="row">
    <div class="col-12">
        <div class="card mt-4 border-dark shadow-lg rounded">
            <img class="card-top-home" src="/static/images/fond_forgot_password.jpg" alt="Fond page oublie MDP"
                height="900">
            <div class="card-img-overlay d-inline-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center flex-column" id="section_email_mdp">
                    <h1 id="recovery_title_1">Réinitialiser</h1>
                    <p id="recovery_sentence_1">Nous vous avons envoyé un e-mail avec les instructions pour réinitialiser votre mot de passe.</p>
                    <p id="recovery_sentence_2">Si vous n'avez pas reçu d'e-mail, vérifiez que vous ayez bien rentré l'address avec laquelle vous vous êtes enregistré.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



<h1>Reset your password</h1>
<p>We've emailed you instructions for setting your password.</p>
<p>If you don't receive an email, please make sure you've entered the
    address you registered with.</p>
